@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');



@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "tailwindcss/forms";

@layer base {
    #productQTY::-webkit-inner-spin-button,
    #productQTY::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .custom-number-input input:focus {
        outline:none !important;
    }

    .custom-number-input button:focus {
        outline: none !important;
    }

}